{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1>Inscription</h1>

	<section class="form">

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm,{'attr': {'class': 'recipe-form'}}) }}

		<div class="form-group">
			<p>
				{{ form_label(registrationForm.email, 'Votre email', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(registrationForm.email, {'attr': {'class': 'form-input'}}) }}
			</p>
			<p>
				{{ form_label(registrationForm.pseudo, 'Entrez un pseudo', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-input'}}) }}
			</p>
			<p>
				{{ form_label(registrationForm.plainPassword, 'Entrez un mot de passe', {
                     'label': 'Password',
                    'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-input'}}) }}
			</p>
			<p>
				{{ form_row(registrationForm.agreeTerms) }}
			</p>

			{{ form_end(registrationForm) }}

			<div class="form-actions">
				<button type="submit" class="btn-submit">
					S'inscrire
				</button>
			</div>
		</div>
	</section>
{% endblock %}
