{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<h1 class="page-title">Toutes les catégories</h1>

	<div class="grid">
		{% for category in categories %}
			<article class="card">
				<div class="card-content">
					<h2 class="subtitle">{{ category.name  }}</h2>

					<div class="actions">
						<a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn-action">
							<i class="ion-eye"></i>
							<span>Voir</span>
						</a>
						<a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn-action">
							<i class="ion-edit"></i>
							<span>Modifier</span>
						</a>
						<a href="{{ path('app_category_delete', {'id': category.id}) }}" class="btn-action btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?')">
							<i class="ion-trash-a"></i>
							<span>Supprimer</span>
						</a>
					</div>
				</div>
			</article>
		{% endfor %}
	</div>

	<div class="actions">
		<a href="{{ path('app_category_new') }}" class="btn-add">
			Ajouter une catégorie
		</a>
	</div>

{% endblock %}
