{% extends 'base.html.twig' %}

{% block title %}Toutes nos recettes{% endblock %}

{% block body %}
    <h1 class="page-title">Toutes nos recettes</h1>

    <div class="grid">
        {% for recipe in recipes %}
            <article class="card">
                <div class="card-content">
                    <h2 class="subtitle">{{ recipe.name }}</h2>
                    <h3 class="btn-back"><i class="ion-fork"></i>{{ recipe.category}}</h3>
                    <p class="description">{{ recipe.description }}</p>
                    
                    <div class="actions">
                        <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="btn-action">
                            <i class="ion-eye"></i>
                            <span>Voir</span>
                        </a>

                        {% if recipe.author is same as(app.user) %}
                        <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="btn-action">
                            <i class="ion-edit"></i>
                            <span>Modifier</span>
                        </a>
                        <a href="{{ path('app_recipe_delete', {'id': recipe.id}) }}" class="btn-action btn-delete" 
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?')">
                            <i class="ion-trash-a"></i>
                            <span>Supprimer</span>
                        </a>
                        {% endif %}


                    </div>
                </div>
            </article>
        {% endfor %}
    </div>

    <div class="actions">
        <a href="{{ path('app_category_index') }}" class="btn-action">Voir toutes les catégories</a>
        <a href="{{ path('app_recipe_new') }}" class="btn-add"> Ajouter une recette</a>
    </div>
{% endblock %}
