{% extends 'base.html.twig' %}

{% block title %}Recipe index
{% endblock %}

{% block body %}
	<h1>Toutes nos recettes</h1>

	<section>
		{% for recipe in recipes %}


			<h3 class="ft-recipe">{{ recipe.name }}</h3>

            <img src="{{ assets'./img/'}}" alt="">

			<p>{{ recipe.description }}</p>
			{# <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
		</section>
		<section>
			<a href="{{ path('app_recipe_show', {'id': recipe.id}) }}"> Voir cette recette</a>
			<a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Modifier cette recette</a>
		</section>

	{% endfor %}


	<a href="{{ path('app_recipe_new') }}">Ajoutez votre recette</a>
{% endblock %}
