{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
    <div class="recipe-detail">
        <h1 class="recipe-detail-title">{{ recipe.name }}</h1>

        <div class="recipe-detail-card">
            <div class="recipe-info">
                <div class="info-group">
                    <i class="ion-document-text"></i>
                    <div class="info-content">
                        <h3>Description</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>

                <div class="info-group">
                    <i class="ion-calendar"></i>
                    <div class="info-content">
                        <h3>Date de création</h3>
                        <p>{{ recipe.createdAt ? recipe.createdAt|date('d/m/Y à H:i') : '' }}</p>
                    </div>
                </div>

                <div class="info-group">
                    <i class="ion-link"></i>
                    <div class="info-content">
                        <h3>Slug</h3>
                        <p>{{ recipe.slug }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="recipe-actions">
            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="btn-action btn-edit">
                <i class="ion-edit"></i> Modifier
            </a>
            <a href="{{ path('app_recipe_index') }}" class="btn-action btn-back">
                <i class="ion-arrow-left-c"></i> Retour
            </a>
        </div>
    </div>
{% endblock %}
